<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>project manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <nav class="navbar navbar-default navigation">
      <div class="container navigation_padding">
        <div class="navbar-header">
          <a href="/" class="navbar-brand ">Approval</a>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li id="home"><a href="/"><i class="fa fa-home"></i>HOME</a></li>
            <li id="about"><a href="/about">ABOUT US</a></li>
            <li id="contact"><a href="/contact">CONTACT US</a></li>
          </ul>
      </div>
    </nav>
  </head>
  <body>
    <div class="container main_div">
