<%- include("partials/header") -%>


<div >
  <h1  >For contact use below details</h1>
  <h4 style="font-weight: bold;">mobile no. :- 8120529979</h4>
  <h4  style="font-weight: bold;">mail:- meeku102@gmail.com</h4>
</div>


<%- include("partials/footer") -%>
