<%- include("partials/header") -%>
<div class="centered front_outer">
  <h1 class="frontstatment">Welcome</h1>
  <a class="btn btn-lg buttons btncolor btn_1" href="/faculty-login" role="button">Faculty</a>
  <a class="btn btn-lg buttons btncolor btn_2" href="student-login" role="button">Student</a>
</div>



<%- include("partials/footer") -%>
