.a-status{
  padding: 0px;
  margin-left: 1em;
}


.add-project{
margin: 4em;
}
.buttons{
  background-color: #4CAF50;
  color: white;
  margin-right: 1.5em;
  margin-left: 1.5em;
  box-shadow: 0 0.4em #999;
  border-radius: 0.5em;
}
.buttons:hover{
    background-color: #3e8e41;
}
.buttons:active{
  background-color: #3e8e41;
  box-shadow: 0 0.3em #666;
  transform: translateY(0.2em);
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: rgb(240,240,240);
  border-radius: 3px;
}

.cbr{
  width:90%;
  margin-left:15%;
}

.dropdown-right{
  float: right;
}

.footer{
  background-color: #8CD7DF;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  text-align : center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.form-div{
  margin-top: 4em;
  width: 580px;
  background-color: green;
}
.front{
  display: inline-block;
}

.front_outer{
  text-align: center;
  margin-top: 10%;
  padding :0.1em;
}
.frontstatment{
  color: #5F5C56;
  text-align: center;
  padding: 0px 0px 3% 0px;
  font-family: sans-serif;
  font-weight:bolder;
  font-size: 5em;
}

.fhead,.gshead{
  text-align:center;
  color:rgb(60,60,60);
}
.ghead{
  text-align:center;
  color:rgb(100,100,100);
}
.g{
  width:80%;
  margin:auto;
}

hr{
  color: grey;
}

.login{
  background-color: #E3EBEC;
  opacity: 0.8;
  border-radius: 0.5em;
}
.login-outer{
  margin-top: 2em;
}
.login-intro{
  margin-left: 0.5em;
  text-align: center;
  padding-top: 4em;
  color: inherit;
  background-color: #E3EBEC;
  opacity: 0.7;
  border-radius: 0.5em;
}
.login-intro:hover{
  opacity: 1;
}

.login-para{
  font-weight: bold;
  font-style: normal;
  font-size: 2em;
}
.login_btn{
  background-color: #86D11A;
}
.login_btn:hover{
  background-color: #74BC0D;
}
.login_btn_2{
  background-color: #CECFC5;
}
.main-div{
background-image: url(/images/home_background.jpeg);
background-size: 100% 180%;
background-repeat: no-repeat;
margin: 0px;
padding: 0px;
}
.navigation{
background-color: #8CD7DF;
min-height: 15%;
padding-top: 15px;
}

.project-form{
  width:85%;
  margin:auto;
}
.register{
  text-decoration: underline;
}
.student_main_body{
  background-color:rgb(240,240,240);
}
.title-div{
  border-style: groove;
  border-radius: 1em;
  margin-top: 2.5em;
}
.title-div-2{
  border-style: groove;
  border-radius: 1em;
  margin-top: 2.5em;
}

.title-div-2-1{
  border-style: groove;
  border-radius: 1em;
  margin-top: 2.5em;
  overflow: scroll;
}

.title-title{
  padding-left: 1em;
  padding-bottom: 0.5em;
}
.title-viewmore{
  padding-right: 3em;
}

.updatepara{
  padding-left: 1em;
  font-size: 1.5em;
}

@media (max-width:500px)  {
  .title-div{
    height: 100px;
  }
  .title-viewmore{
font-size: 20px;
  }
.title-title{
  padding-left: none;
  font-size: 20px;
}


@media (max-width: 1028px) and (min-width: 700px){
  .title-viewmore{
    font-size: 3px;
  }
  .title-title{
    font-size: 3px;
  }
}}



/*background-image: linear-gradient(to right, red , yellow);*/
